{%extends 'main/layout.html'%}
{%load static%}

{%block title%}<title>Главная</title>{%endblock%}

{%block content%}
<div id="aboutBlock" class="infoDiv">
    <h3>Блок - О нас</h3>
    <p>
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.
        Здесь будет инфо О Нас в виде текста или слайда или другое подходящее. Что конкретно будет здесь потом опрелиться.

    </p>    
</div>
<div id="infoBlock" class="infoDiv">
    <h3>Блок - Решении для УД(умного дома)</h3>
    <p>
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
        Здесь будет инфо о решении для умного дома в виде текста или Карусель текстовых блоков или другое 
        подходящее. Что конкретно будет здесь потом определиться. 
    </p>    
</div>
<div  id="contactBlock" class="infoDiv">
    <h3 >Блок - Контакты</h3>
    <p>
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
        Здесь будет инфо о Контактах Развивающего центра в виде текста или или другое подходящее. Что конкретно 
        будет здесь потом определиться.
    </p>    
</div>

{%endblock%}